section.container
	h2 BEST TOP 5 BINGO SITES
	ul.top.top--colorBlue.list-unstyled.container.p-0
		li.line.d-flex.flex-column.m-0.top--head
			.row.py-1
				.col-1.d-none.d-lg-block.text-center
					.px-2 S.NO
				.col.d-none.d-lg-block Bingo site
				.col.text-center.text-lg-left
					.mr-2 Deposit Bonus
				.col.d-none.d-lg-block Software
				.col.d-none.d-lg-block.text-right
					.mr-2 Get Bonus
		+top(1, "Rewind Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(2, "Kingdom of Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(3, "BoyleSports Bingo", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(4, "", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(5, "Oink Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(6, "Rewind Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(7, "Kingdom of Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(8, "BoyleSports Bingo", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(9, "", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(10, "Oink Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(11, "Rewind Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(12, "Kingdom of Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(13, "BoyleSports Bingo", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(14, "", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(15, "Oink Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		