section.container
	h2 BINGO NEWS
	.row
		.col-12.col-lg-4
			.card.mb-4
				img.card-img-top(src='images/covers/kozmo2.png', alt='Card image cap')
				.card-body
					h5.card-title.h3 Are Electronic Arts Promoting Gambling to Children?
					p.card-text
						| EA (Electronic Arts) is one of the biggest video games developers and distributors in the world,
					a(href='#') read more
		.col-12.col-lg-4
			.card.mb-4
				img.card-img-top(src='images/covers/rewind.png', alt='Card image cap')
				.card-body
					h5.card-title.h3 Are Electronic Arts Promoting Gambling to Children?
					p.card-text
						| EA (Electronic Arts) is one of the biggest video games developers and distributors in the world,
					a(href='#') read more
		.col-12.col-lg-4
			.card.mb-4
				img.card-img-top(src='images/covers/bgo.png', alt='Card image cap')
				.card-body
					h5.card-title.h3 Are Electronic Arts Promoting Gambling to Children?
					p.card-text
						| EA (Electronic Arts) is one of the biggest video games developers and distributors in the world,
					a(href='#') read more