section.container.mt-4
	.row
		.col-12.col-lg-3.pb-4
			.card.h-100
				.badge Recommended bingo
				.amp-img
					amp-img.card-img-top(src='images/covers/kozmo2.png', alt="", width="600" height="420" layout="responsive")
				.card-body.d-flex.flex-column
					h3.card-title  Kozmo Bingo
					+stars(4)
					.card-body--offer-cta.d-flex.flex-column.mt-auto
						a.sans.btn.btn-primary.btn-lg(href="#") Read Review
		.col-12.col-lg-3.pb-4
			.card.h-100
				.badge Mobile Bingo
				.amp-img
					amp-img.card-img-top(src='images/covers/kozmo2.png', alt="", width="600" height="420" layout="responsive")
				.card-body.d-flex.flex-column
					h3.card-title Velvet Bingo
					+stars(4)
					.card-body--offer-cta.d-flex.flex-column.mt-auto
						a.sans.btn.btn-primary.btn-lg(href="#") Read Review
		.col-12.col-lg-3.pb-4
			.card.h-100
				.badge PayPal Bingo
				.amp-img
					amp-img.card-img-top(src='images/covers/kozmo2.png', alt="", width="600" height="420" layout="responsive")
				.card-body.d-flex.flex-column
					h3.card-title  Kozmo Bingo
					+stars(4)
					.card-body--offer-cta.d-flex.flex-column.mt-auto
						a.sans.btn.btn-primary.btn-lg(href="#") Read Review
		.col-12.col-lg-3.pb-4
			.card.h-100
				.badge £5 Deposit Bingo
				.amp-img
					amp-img.card-img-top(src='images/covers/kozmo2.png', alt="", width="600" height="420" layout="responsive")
				.card-body.d-flex.flex-column
					h3.card-title  Kozmo Bingo
					+stars(4)
					.card-body--offer-cta.d-flex.flex-column.mt-auto
						a.sans.btn.btn-primary.btn-lg(href="#") Read Review
		