.container
	.row
		table.table.table-bordered
			thead.thead-default
			tbody
				tr
					td(style='width:36%;')
						.sans Editor's Rating:
					td
						.stars(style='text-align:left;')
						img(src='https://www.wdwbingo.co.uk/wp-content/themes/wdwbingo/assets/img/fstar.png ', alt='', scale='0')
						img(src='https://www.wdwbingo.co.uk/wp-content/themes/wdwbingo/assets/img/fstar.png ', alt='', scale='0')
						img(src='https://www.wdwbingo.co.uk/wp-content/themes/wdwbingo/assets/img/fstar.png ', alt='', scale='0')
						img(src='https://www.wdwbingo.co.uk/wp-content/themes/wdwbingo/assets/img/fstar.png ', alt='', scale='0')
						img(src='https://www.wdwbingo.co.uk/wp-content/themes/wdwbingo/assets/img/hstar.png ', alt='', scale='0')
				tr
					td
						.sans No deposit offer:
					td
						| £
						| 0.00
				tr
					td
						.sans Bingo Bonus:
					td
						| Yes
				tr
					td
						.sans Slots Bonus:
					td
						| No
				tr
					td
						.sans Deposit bonus:
					td
						| 500% on first deposit  - up to £25 free
				tr
					td
						.sans Redeposit bonuses:
					td
				tr
					td Wagering info:
					td
						| To receive the bonus you must spend £5 on bingo tickets within 7 days of your first log-in. The bonus has a 30 day expiry and the wagering requirement is 4 x bonus.
				tr
					td
						.sans Loyalty Bonus:
					td
						| They have an invitation only VIP Club based on activity levels, and also a loyalty points scheme. You earn 1 loyalty point for every 10p spent on bingo and points can be earned at various rates on other games too. 1000 loyalty points = £1 bonus and they expire if not redeemed within 90 days.
				tr
					td
						.sans Other Bonuses:
					td
						| 1 month of free bingo after making a second deposit. Special games every Wednesday for anyone who has made a deposit that week.
				tr
					td
						.sans Bingo software:
					td Virtue Fusion
				tr
					td
						.sans Payment Methods:
					td Credit card, debit card, PayPal, Paysafecard, Skrill, Neteller
				tr
					td
						.sans Launch date:
					td July 2013
				tr
					td
						.sans UK Licensing status:
					td
				tr
					td
						.sans License Holder:
					td
				tr
					td
						.sans License prior to Nov 2014:
					td
				tr
					td.text-center(colspan='2')
						a.btn.btn-secondary.btn-lg.btn-block(href='http://affiliates.netplayaffiliates.com/processing/clickthrgh.asp?btag=a_9658b_1486&aid=') PLAY NOW!
						span.sidebar_tandc.sans * New Customer Offer. T&Cs Apply. 18+. Please Gamble Responsibly.



