svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', style='display: none;', xml:space='preserve')
	symbol#logo
		style(type='text/css').
			.logoBNBSst0{fill:#4D226D;}
			.logoBNBSst1{fill:#31104B;}
			.logoBNBSst2{fill:#FBB03B;}
			.logoBNBSst3{fill:#FFD4CF;}
			.logoBNBSst4{fill:#727185;}
			.logoBNBSst5{opacity:0.5;fill:#FF95BD;}
			.logoBNBSst6{fill:#565564;}
			.logoBNBSst7{fill:#FFFFFF;}
			.logoBNBSst8{opacity:0.5;fill:#BF708E;}
			.logoBNBSst9{fill:#584F82;}
			.logoBNBSst10{opacity:0.7;fill:#FFFFFF;}
			.logoBNBSst11{fill:url(#SVGID_1_);}
			.logoBNBSst12{fill:url(#SVGID_2_);}
			.logoBNBSst13{fill:url(#SVGID_3_);}
			.logoBNBSst14{fill:url(#SVGID_4_);}
			.logoBNBSst15{fill:#FC155C;}
			.logoBNBSst16{fill:#FD6997;}
			.logoBNBSst17{fill:url(#SVGID_5_);}
			.logoBNBSst18{fill:url(#SVGID_6_);}
			.logoBNBSst19{fill:url(#SVGID_7_);}
			.logoBNBSst20{fill:url(#SVGID_8_);}
		g#Tag
			path.logoBNBSst7(d='M15.7,68.5c0.5,0.4,0.7,0.9,0.7,1.5c0,0.5-0.1,0.9-0.4,1.2c-0.3,0.3-0.6,0.6-1.1,0.7c0.6,0.1,1,0.3,1.4,0.7      s0.5,0.9,0.5,1.4c0,0.7-0.3,1.3-0.8,1.7c-0.5,0.4-1.3,0.6-2.2,0.6h-3.7v-8.4h3.6C14.6,67.9,15.2,68.1,15.7,68.5z M14.9,71.2      c0.3-0.2,0.4-0.5,0.4-0.9c0-0.4-0.1-0.7-0.4-0.9S14.2,69,13.6,69h-2.4v2.5h2.4C14.2,71.5,14.6,71.4,14.9,71.2z M15.1,74.9      c0.4-0.2,0.5-0.6,0.5-1c0-0.4-0.2-0.8-0.5-1c-0.4-0.2-0.8-0.4-1.5-0.4h-2.4v2.7h2.4C14.3,75.3,14.8,75.2,15.1,74.9z')
			path.logoBNBSst7(d='M18.7,67.9h5.8v1h-4.7v2.6H24v1h-4.2v2.7h4.8v1h-6V67.9z')
			path.logoBNBSst7(d='M30.2,69.1c-0.4-0.1-0.8-0.2-1.2-0.2c-0.5,0-0.9,0.1-1.2,0.3c-0.3,0.2-0.4,0.4-0.4,0.8c0,0.3,0.1,0.5,0.3,0.7      c0.2,0.2,0.4,0.3,0.6,0.4c0.3,0.1,0.6,0.2,1.1,0.4c0.6,0.2,1,0.3,1.4,0.5c0.4,0.2,0.7,0.4,0.9,0.7s0.4,0.7,0.4,1.3      c0,0.5-0.1,0.9-0.4,1.3s-0.6,0.6-1.1,0.8c-0.5,0.2-1,0.3-1.6,0.3c-0.6,0-1.2-0.1-1.8-0.4c-0.6-0.2-1.1-0.6-1.5-1l0.5-1      c0.4,0.4,0.9,0.7,1.4,0.9c0.5,0.2,1,0.3,1.5,0.3c0.6,0,1-0.1,1.3-0.3c0.3-0.2,0.5-0.5,0.5-0.9c0-0.3-0.1-0.5-0.3-0.7      c-0.2-0.2-0.4-0.3-0.7-0.5c-0.3-0.1-0.6-0.2-1.1-0.4c-0.6-0.2-1-0.3-1.4-0.5c-0.4-0.2-0.7-0.4-0.9-0.7c-0.2-0.3-0.4-0.7-0.4-1.2      c0-0.4,0.1-0.8,0.4-1.2c0.2-0.3,0.6-0.6,1-0.8c0.4-0.2,1-0.3,1.6-0.3c0.5,0,1,0.1,1.5,0.2s0.9,0.3,1.3,0.6l-0.5,1      C31,69.4,30.6,69.3,30.2,69.1z')
			path.logoBNBSst7(d='M32.8,67.9h6.6V69h-2.7v7.3h-1.2V69h-2.7V67.9z')
			path.logoBNBSst7(d='M49.8,67.9H51v8.4h-1.2L45,69.8v6.5h-1.2v-8.4H45l4.8,6.5V67.9z')
			path.logoBNBSst7(d='M53.4,67.9h5.8v1h-4.7v2.6h4.2v1h-4.2v2.7h4.8v1h-6V67.9z')
			path.logoBNBSst7(d='M71.3,67.9h1.2l-2.8,8.4h-1.2l-2.2-6.9l-2.2,6.9h-1.2l-2.8-8.4h1.2l2.2,7.2l2.2-7.2h1.2l2.2,7.2L71.3,67.9z')
			path.logoBNBSst7(d='M82.6,68.5c0.5,0.4,0.7,0.9,0.7,1.5c0,0.5-0.1,0.9-0.4,1.2c-0.3,0.3-0.6,0.6-1.1,0.7c0.6,0.1,1,0.3,1.4,0.7      s0.5,0.9,0.5,1.4c0,0.7-0.3,1.3-0.8,1.7c-0.5,0.4-1.3,0.6-2.2,0.6h-3.7v-8.4h3.6C81.4,67.9,82.1,68.1,82.6,68.5z M81.7,71.2      c0.3-0.2,0.4-0.5,0.4-0.9c0-0.4-0.1-0.7-0.4-0.9S81,69,80.5,69h-2.4v2.5h2.4C81,71.5,81.4,71.4,81.7,71.2z M81.9,74.9      c0.4-0.2,0.5-0.6,0.5-1c0-0.4-0.2-0.8-0.5-1c-0.4-0.2-0.8-0.4-1.5-0.4h-2.4v2.7h2.4C81.1,75.3,81.6,75.2,81.9,74.9z')
			path.logoBNBSst7(d='M85.5,67.9h1.2v8.4h-1.2V67.9z')
			path.logoBNBSst7(d='M95,67.9h1.1v8.4H95l-4.8-6.5v6.5H89v-8.4h1.2l4.8,6.5V67.9z')
			path.logoBNBSst7(d='M104.4,72.2h1v3.1c-0.4,0.3-0.9,0.6-1.5,0.8c-0.6,0.2-1.1,0.3-1.7,0.3c-0.8,0-1.5-0.2-2.2-0.6      c-0.7-0.4-1.2-0.9-1.6-1.6c-0.4-0.7-0.6-1.4-0.6-2.2c0-0.8,0.2-1.5,0.6-2.2c0.4-0.7,0.9-1.2,1.6-1.5c0.7-0.4,1.4-0.6,2.3-0.6      c0.6,0,1.2,0.1,1.7,0.3c0.6,0.2,1,0.5,1.4,0.9l-0.7,0.8c-0.3-0.3-0.7-0.6-1.2-0.7c-0.4-0.2-0.9-0.3-1.3-0.3c-0.6,0-1.2,0.1-1.7,0.4      c-0.5,0.3-0.9,0.7-1.2,1.2c-0.3,0.5-0.4,1-0.4,1.6c0,0.6,0.1,1.1,0.4,1.6c0.3,0.5,0.7,0.9,1.2,1.2c0.5,0.3,1.1,0.4,1.7,0.4      c0.4,0,0.7-0.1,1.1-0.2c0.4-0.1,0.7-0.3,1-0.5V72.2z')
			path.logoBNBSst7(d='M113.5,68.4c0.7,0.4,1.2,0.9,1.6,1.5c0.4,0.7,0.6,1.4,0.6,2.2c0,0.8-0.2,1.5-0.6,2.2c-0.4,0.7-0.9,1.2-1.6,1.6      c-0.7,0.4-1.4,0.6-2.2,0.6s-1.6-0.2-2.2-0.6c-0.7-0.4-1.2-0.9-1.6-1.6c-0.4-0.7-0.6-1.4-0.6-2.2c0-0.8,0.2-1.5,0.6-2.2      c0.4-0.7,0.9-1.2,1.6-1.5c0.7-0.4,1.4-0.6,2.2-0.6C112.1,67.9,112.8,68.1,113.5,68.4z M109.7,69.3c-0.5,0.3-0.9,0.7-1.2,1.2      s-0.4,1-0.4,1.6c0,0.6,0.1,1.1,0.4,1.6c0.3,0.5,0.7,0.9,1.2,1.2c0.5,0.3,1,0.4,1.6,0.4c0.6,0,1.1-0.1,1.6-0.4      c0.5-0.3,0.9-0.7,1.2-1.2c0.3-0.5,0.4-1,0.4-1.6c0-0.6-0.1-1.1-0.4-1.6s-0.7-0.9-1.2-1.2s-1-0.4-1.6-0.4      C110.7,68.9,110.2,69,109.7,69.3z')
			path.logoBNBSst7(d='M124.2,69.1c-0.4-0.1-0.8-0.2-1.2-0.2c-0.5,0-0.9,0.1-1.2,0.3c-0.3,0.2-0.4,0.4-0.4,0.8c0,0.3,0.1,0.5,0.3,0.7      c0.2,0.2,0.4,0.3,0.6,0.4c0.3,0.1,0.6,0.2,1.1,0.4c0.6,0.2,1,0.3,1.4,0.5s0.7,0.4,0.9,0.7c0.2,0.3,0.4,0.7,0.4,1.3      c0,0.5-0.1,0.9-0.4,1.3s-0.6,0.6-1.1,0.8c-0.5,0.2-1,0.3-1.6,0.3c-0.6,0-1.2-0.1-1.8-0.4c-0.6-0.2-1.1-0.6-1.5-1l0.5-1      c0.4,0.4,0.9,0.7,1.4,0.9c0.5,0.2,1,0.3,1.5,0.3c0.6,0,1-0.1,1.3-0.3c0.3-0.2,0.5-0.5,0.5-0.9c0-0.3-0.1-0.5-0.3-0.7      c-0.2-0.2-0.4-0.3-0.7-0.5c-0.3-0.1-0.6-0.2-1.1-0.4c-0.6-0.2-1-0.3-1.4-0.5c-0.4-0.2-0.7-0.4-0.9-0.7s-0.4-0.7-0.4-1.2      c0-0.4,0.1-0.8,0.4-1.2c0.2-0.3,0.6-0.6,1-0.8c0.4-0.2,1-0.3,1.6-0.3c0.5,0,1,0.1,1.5,0.2s0.9,0.3,1.3,0.6l-0.5,1      C125,69.4,124.6,69.3,124.2,69.1z')
			path.logoBNBSst7(d='M127.9,67.9h1.2v8.4h-1.2V67.9z')
			path.logoBNBSst7(d='M130.4,67.9h6.6V69h-2.7v7.3h-1.2V69h-2.7V67.9z')
			path.logoBNBSst7(d='M138.3,67.9h5.8v1h-4.7v2.6h4.2v1h-4.2v2.7h4.8v1h-6V67.9z')
			path.logoBNBSst7(d='M149.8,69.1c-0.4-0.1-0.8-0.2-1.2-0.2c-0.5,0-0.9,0.1-1.2,0.3c-0.3,0.2-0.4,0.4-0.4,0.8c0,0.3,0.1,0.5,0.3,0.7      c0.2,0.2,0.4,0.3,0.6,0.4c0.3,0.1,0.6,0.2,1.1,0.4c0.6,0.2,1,0.3,1.4,0.5s0.7,0.4,0.9,0.7c0.2,0.3,0.4,0.7,0.4,1.3      c0,0.5-0.1,0.9-0.4,1.3s-0.6,0.6-1.1,0.8c-0.5,0.2-1,0.3-1.6,0.3c-0.6,0-1.2-0.1-1.8-0.4c-0.6-0.2-1.1-0.6-1.5-1l0.5-1      c0.4,0.4,0.9,0.7,1.4,0.9c0.5,0.2,1,0.3,1.5,0.3c0.6,0,1-0.1,1.3-0.3c0.3-0.2,0.5-0.5,0.5-0.9c0-0.3-0.1-0.5-0.3-0.7      c-0.2-0.2-0.4-0.3-0.7-0.5c-0.3-0.1-0.6-0.2-1.1-0.4c-0.6-0.2-1-0.3-1.4-0.5c-0.4-0.2-0.7-0.4-0.9-0.7s-0.4-0.7-0.4-1.2      c0-0.4,0.1-0.8,0.4-1.2c0.2-0.3,0.6-0.6,1-0.8c0.4-0.2,1-0.3,1.6-0.3c0.5,0,1,0.1,1.5,0.2s0.9,0.3,1.3,0.6l-0.5,1      C150.6,69.4,150.2,69.3,149.8,69.1z')
		g#Head
			path.logoBNBSst0(d='M9,53.1c-2,2.2-5.4,2-5.5-0.1c-0.2-2.3,2-3.2,2.3-1.4c0.4-2.4-3.8-3.1-4.7,1.2c-0.9,4.1,5.7,10,11,3.7      C10.9,55.5,9.8,54.3,9,53.1z')
			path.logoBNBSst1(d='M29.7,8.5c-4.7,0-8,1.3-10.3,3.4c-0.6,0.4-1.2,0.7-1.7,1.1c-3.6,2.3-6.5,3.5-9.5,3.9s-1.9,0.4-2.4,1.1      c4.8,3.3,1.2,6.6,0.4,13.5c0,0,4.9-3.6,7.8,4.1c0.1,6.1,0.5,11.6,2.2,15.9c0,0.1,0,0.1,0,0.2c0,0,0.1,0,0.1,0.1      c2.1,5,6,8.1,13.4,8.1c14.2,0,25.7-11.5,25.7-25.7C55.3,20,43.8,8.5,29.7,8.5z')
			path.logoBNBSst2(d='M40.3,23.7c-17.4-8.4-27.8-9.6-29.9-7.9c0,0,1-5.8,4.1-8.6C13.6,14.9,22,1,22,1s0.4,14,9.2,9.2      C30.3,14.4,36.4,21.7,40.3,23.7z')
			ellipse.logoBNBSst3(transform='matrix(0.773 -0.6344 0.6344 0.773 -16.8054 35.2759)', cx='40.9', cy='41.1', rx='5.1', ry='3.4')
			path.logoBNBSst0(d='M5.8,17.9c0.5-1.4,1.9-0.5,3.7-2.4s2.6-0.1,4.2-2.3s10.1-0.9,15.2,4s15.2,16.9,14.6,32      c-0.6,15.3-14.7,14.1-15.7,6.8c-0.7-5.4,4.5-6.5,5.1-3.4c-1.2-2-3.3,0-2.1,2.6c1.6,3.5,9-0.6,6.7-7.7c-4.4-13.6-17.5-22-24-26.8      S5.8,17.9,5.8,17.9z')
			path.logoBNBSst3(d='M27.8,56.1c-0.7-5.4,4.5-6.5,5.1-3.4c-1.2-2-3.3,0-2.1,2.6c0.3,0.6,0.7,0.9,1.2,1.1c2.4-2.4,4.4-5,5.8-7.6      c-0.1-0.4-0.2-0.8-0.3-1.3c-4.4-13.6-17.5-22-24-26.8c-2.8,1.8-5.1,4.3-6.4,8c-1.2,2.7-1.7,8.4,1.2,13.8c1.1,2-1.4,5.7,0.2,9.5      c1.6,3.9,7.1,6.3,7.8,9.5c0.6,2.9,6.2,2.6,12.8-2.7C28.4,58.1,27.9,57.2,27.8,56.1z')
			path.logoBNBSst4(d='M5.9,35c0.1-0.4,0.5-0.6,0.8-0.8c0.3-0.1,0.6-0.2,0.9-0.3c0.6-0.1,1.1,0,1.6,0.1c0.5,0.2,1,0.4,1.4,0.8      c0.4,0.4,0.8,0.8,1,1.5l-0.1,0.1c-0.4-0.2-0.9-0.4-1.4-0.6c-0.5-0.2-0.9-0.3-1.4-0.4c-0.5-0.1-1-0.3-1.4-0.4c-0.5-0.1-1-0.2-1.4,0      L5.9,35z')
			path.logoBNBSst4(d='M22.6,35.9c0.5-1.1,1.4-1.8,2.3-2.5c0.5-0.3,1-0.5,1.4-0.8c0.5-0.2,1-0.4,1.5-0.5c1.1-0.3,2.1-0.4,3.2-0.3      c0.6,0,1.1,0.1,1.7,0.3c0.5,0.2,1.1,0.4,1.5,0.8l-0.1,0.1c-0.5-0.2-1-0.2-1.5-0.2c-0.5,0-1,0-1.5,0.1c-1,0.1-2,0.3-3,0.6      c-1,0.2-2,0.6-2.9,1c-0.9,0.4-1.8,0.9-2.7,1.5L22.6,35.9z')
			path.logoBNBSst5(d='M22.7,44.6c0,0,1.9-5.1,4.5-6.1c2.6-1,5.1,3.5,5.1,3.5L22.7,44.6')
			path.logoBNBSst5(d='M15,44.5c0,0-0.9-4.6-4.9-4.7c-1.8,0.7-0.9,3.2-0.9,3.2L15,44.5z')
			path.logoBNBSst6(d='M14.9,45.1c-1.5,1.4-3.3,1.5-4.8,0.8c-1.6-0.7-1.6,0.3-1.6,0.3s-0.2-0.9,0.8-1.3c0,0,0.5-0.3-0.2-0.4      s-0.8,0.2-0.8,0.2s0.2-1,1-0.8c0.8,0.2,1.1,2.1,2.7,2.1C13.6,46,13.9,45.8,14.9,45.1z')
			path(d='M14.9,44.5c-2.1-3.1-4.5-2.6-5.6-2.6c-1.1,0-1.8-0.6-2.4-1.6c0.9,1.6,1.7,2,1.4,2.2c-0.3,0.2-1.6-0.1-2.2-0.8      c1.2,1.2,1.6,1.1,1.3,1.3s-1.8-0.2-1.9-1.1c0.3,1.2,1.6,2.3,3.5,1.6C10.8,43.6,14.9,44.5,14.9,44.5z')
			path.logoBNBSst7(d='M9.2,43.1c2-1.3,4.9-0.2,5.8,1.5C13.4,47,8.9,46.4,9.2,43.1z')
			path.logoBNBSst8(d='M13.2,38.2c0.5,0.9,0.9,1.8,1.3,2.8c0.2,0.5,0.3,1,0.5,1.5c0.1,0.5,0.2,1,0.3,1.5c0.1,1,0.1,2.1-0.2,3.1      c-0.3,1-0.9,2-1.6,2.7l0.1-0.1c0,0.2,0,0.4,0,0.6c0,0.2,0.1,0.4,0.3,0.6c0.3,0.4,0.6,0.7,1.1,0.9c0.4,0.2,0.9,0.3,1.4,0.4      c0.5,0.1,1,0.1,1.5,0.1c-0.5,0.1-1,0.1-1.5,0.1c-0.3,0-0.5,0-0.8-0.1c-0.3-0.1-0.5-0.1-0.8-0.2c-0.5-0.2-1-0.5-1.3-0.9      c-0.2-0.2-0.3-0.5-0.4-0.8c-0.1-0.3-0.1-0.6,0-0.9l0-0.1l0.1-0.1c0.7-0.7,1.2-1.5,1.4-2.5c0.3-0.9,0.3-1.9,0.2-2.9      c0-0.5-0.1-1-0.2-1.5c-0.1-0.5-0.2-1-0.4-1.5C13.9,40.1,13.5,39.2,13.2,38.2z')
			path.logoBNBSst8(d='M19.4,48.5c0.2,0.2,0.4,0.4,0.6,0.6c0.2,0.2,0.4,0.4,0.5,0.7c0.1,0.3,0.2,0.6,0.2,0.9c0,0.3-0.2,0.6-0.4,0.7      c0.1-0.3,0.1-0.5,0.1-0.8c0-0.2-0.1-0.5-0.2-0.7C19.9,49.4,19.6,49,19.4,48.5z')
			path.logoBNBSst9(d='M11.6,42.5c-0.2,0.3-0.3,0.6-0.3,0.9c-0.1,1,0.7,1.9,1.8,2c0.8,0,1.5-0.4,1.8-1C14.3,43.4,13,42.7,11.6,42.5z')
			path(d='M13.1,44.4c0.5,0,0.9-0.3,0.9-0.8c0-0.1,0-0.1,0-0.2c-0.3-0.3-0.8-0.5-1.2-0.6c-0.2,0.1-0.4,0.4-0.5,0.7      C12.3,44,12.7,44.4,13.1,44.4z')
			circle.logoBNBSst10(cx='13.2', cy='43.2', r='0.2')
			lineargradient#SVGID_1_(gradientunits='userSpaceOnUse', x1='13.574', y1='43.0882', x2='13.574', y2='45.4881')
				stop(offset='0', style='stop-color:#FFFFFF;')
				stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0;')
			polygon.logoBNBSst11(points='13.2,45.8 13.6,45.7 13.9,44.6 13.4,44.5 	')
			lineargradient#SVGID_2_(gradientunits='userSpaceOnUse', x1='14.0865', y1='43.3578', x2='14.0865', y2='45.4875')
				stop(offset='0', style='stop-color:#FFFFFF;')
				stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0;')
			polygon.logoBNBSst12(points='13.7,45.7 14,45.7 14.5,44.7 14,44.6 	')
			lineargradient#SVGID_3_(gradientunits='userSpaceOnUse', x1='14.1121', y1='44.0961', x2='14.7522', y2='44.0961')
				stop(offset='0', style='stop-color:#FFFFFF;')
				stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0;')
			path.logoBNBSst13(d='M14.3,43.7l-0.2,0.6l0.5,0.1l0.1-0.2C14.6,44,14.5,43.9,14.3,43.7z')
			lineargradient#SVGID_4_(gradientunits='userSpaceOnUse', x1='13.4639', y1='43.7617', x2='14.1857', y2='43.7617')
				stop(offset='0', style='stop-color:#FFFFFF;')
				stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0;')
			path.logoBNBSst14(d='M14.2,43.6c-0.2-0.2-0.4-0.3-0.6-0.4l-0.1,1l0.5,0.1L14.2,43.6z')
			path(d='M23.7,44.2c2.7-4.1,5.1-4,6.1-4.2c0.5-0.1,1.4,0,2.6-1.3c-0.9,1.2-1.3,1.9-0.8,1.9c0,0,0.8,0.1,1.8-0.4      c-2,1.2-1.2,1.4-0.3,1.4c-0.6,0.4-1,0.7-1.3,1.3C30.9,41.6,23.7,44.2,23.7,44.2z')
			polygon.logoBNBSst7(points='15.3,54.7 15.3,56.9 19.1,58.1 25.3,54.8 22.5,55.4 16.6,54.2 	')
			path.logoBNBSst15(d='M14.4,55.1c0.5,0.9-0.6,3.5,2.7,3.8c3.4,0.3,4.4-0.8,8.2-4c-3.8,1.9-9.2,4.1-9.7,0.5      C14.9,54.7,14.4,55.1,14.4,55.1z')
			path.logoBNBSst16(d='M12.9,54.5c1.8,1,9,2.3,12.5,0.3c-4.7,0.9-7.7-1.1-8.5-1.1c-0.9,0.3-0.9,0-1.1-0.2      C15.4,53.6,14.3,54.9,12.9,54.5z')
			path.logoBNBSst6(d='M24.5,44.7c2.7,1.9,6.1,0.3,7.2,1c0,0-1-0.7-0.3-1.2c0.7-0.4,1.3,0.2,1.3,0.5c-0.4-1.2-0.8-2.1-0.4-2.8      c0.4-0.6-2.7,0.2-2.7,0.2L24.5,44.7z')
			path.logoBNBSst7(d='M22.7,44.6c3.8-4.9,7.3-4.7,9.6-2.5c-1.9,3.3-3.8,4-7.9,2.6C23,44.6,22.7,44.6,22.7,44.6z')
			path.logoBNBSst9(d='M30.8,41c-1.2-0.6-2.7-0.6-4.2,0.2c-0.1,0.3-0.2,0.6-0.2,0.9c-0.1,1.3,0.9,2.4,2.2,2.5      c1.3,0.1,2.4-0.9,2.5-2.2C31.2,41.9,31.1,41.4,30.8,41z')
			ellipse(transform='matrix(5.806301e-02 -0.9983 0.9983 5.806301e-02 -15.0486 68.4783)', cx='28.8', cy='42.2', rx='1.1', ry='1.1')
			circle.logoBNBSst10(cx='29.5', cy='41.1', r='0.2')
			lineargradient#SVGID_5_(gradientunits='userSpaceOnUse', x1='30.2451', y1='41.0413', x2='30.2451', y2='43.9389')
				stop(offset='0', style='stop-color:#FFFFFF;')
				stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0;')
			rect.logoBNBSst17(x='30.1', y='42.8', width='0.4', height='1.5')
			lineargradient#SVGID_6_(gradientunits='userSpaceOnUse', x1='30.2451', y1='41.0413', x2='30.2451', y2='43.9389')
				stop(offset='0', style='stop-color:#FFFFFF;')
				stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0;')
			rect.logoBNBSst18(x='30.1', y='40.9', width='0.4', height='1.5')
			lineargradient#SVGID_7_(gradientunits='userSpaceOnUse', x1='30.7288', y1='41.0413', x2='30.7288', y2='43.9389')
				stop(offset='0', style='stop-color:#FFFFFF;')
				stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0;')
			rect.logoBNBSst19(x='30.5', y='42.8', width='0.4', height='1.5')
			lineargradient#SVGID_8_(gradientunits='userSpaceOnUse', x1='30.7288', y1='41.2731', x2='30.7288', y2='42.7745')
				stop(offset='0', style='stop-color:#FFFFFF;')
				stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0;')
			path.logoBNBSst20(d='M30.9,41.1c-0.1-0.1-0.3-0.1-0.4-0.2h0v1.5h0.4V41.1z')
			path.logoBNBSst0(d='M5.8,17.9c0.5-1.4,1.9-0.5,3.7-2.4s2.6-0.1,4.2-2.3s10.1-0.9,15.2,4s15.2,16.9,14.6,32      c-0.6,15.3-14.7,14.1-15.7,6.8c-0.7-5.4,4.5-6.5,5.1-3.4c-1.2-2-3.3,0-2.1,2.6c1.6,3.5,9-0.6,6.7-7.7c-4.4-13.6-17.5-22-24-26.8      S5.8,17.9,5.8,17.9z')
		g#BNBS
			path.logoBNBSst15(d='M62.8,18.6c-0.9,0-1.8,0.1-2.7,0.3l-9.4,2.9l-1.8,30.9l11.5,1.5c0.8,0.2,1.6,0.3,2.4,0.3      c6.2,0,11.2-5,11.2-11.2c0-2.5-0.8-4.9-2.3-6.8c1.4-1.9,2.3-4.2,2.3-6.8C74,23.7,69,18.6,62.8,18.6z M62.8,45.7      c-0.2,0-0.3,0-0.5-0.1L58.3,45l0.2-4.2l4.2,0.2v0c1.3,0,2.3,1,2.3,2.3C65,44.6,64,45.7,62.8,45.7z M63.1,32.1l-4-0.2l0.2-3.3l3.1-1      c0.2,0,0.3,0,0.4,0c1.3,0,2.3,1,2.3,2.3C65,31,64.2,32,63.1,32.1z')
			path.logoBNBSst15(d='M131.7,40.2c-0.2-2.5-1.2-4.9-2.9-6.7c1.4-2.1,2-4.6,1.8-7.1c-0.2-3-1.6-5.8-3.9-7.8s-5.3-3-8.3-2.7      c-0.9,0.1-1.8,0.3-2.7,0.5l-9.3,3.7l0.6,31.6l11.8,0.6c0.6,0.1,1.1,0.1,1.7,0.1c0.3,0,0.6,0,0.8,0c3-0.2,5.8-1.6,7.8-3.9      C131,46.2,131.9,43.3,131.7,40.2z M118.6,24.9c0.2-0.1,0.3-0.1,0.5-0.1c0.7-0.1,1.3,0.2,1.8,0.6c0.5,0.4,0.8,1,0.8,1.7      c0.1,0.7-0.2,1.3-0.6,1.8c-0.3,0.4-0.8,0.7-1.3,0.8l-4.3,0.1l-0.1-3.6L118.6,24.9z M122.2,42.7c-0.4,0.5-1,0.8-1.7,0.8      c-0.2,0-0.4,0-0.6,0l-4.2-0.3l-0.1-4.5l4.4-0.1l0,0c0.7-0.1,1.3,0.2,1.8,0.6c0.5,0.4,0.8,1,0.8,1.7      C122.8,41.6,122.6,42.2,122.2,42.7z')
			path.logoBNBSst15(d='M144.5,30.7L144.5,30.7c-1.4-0.1-2.5-1.4-2.4-2.8c0.1-1.4,1.3-2.5,2.8-2.4c0.2,0,0.3,0,0.5,0.1l6.1,2.4      l3.3-8.3l-6.3-2.5l-0.3-0.1c-0.9-0.3-1.8-0.5-2.7-0.6c-6.3-0.5-11.9,4.3-12.4,10.6c-0.5,6.3,4.3,11.9,10.6,12.4l0,0      c1.4,0.1,2.5,1.3,2.4,2.8c-0.1,0.7-0.4,1.3-0.9,1.8c-0.5,0.4-1.2,0.7-1.9,0.6c-0.2,0-0.3,0-0.5-0.1l-8.8-3.7l-3.5,8.3l9,3.8      l0.3,0.1c0.9,0.3,1.8,0.5,2.7,0.6c0.3,0,0.6,0,0.9,0c2.8,0,5.4-1,7.5-2.8c2.3-2,3.8-4.8,4-7.9C155.6,36.7,150.8,31.2,144.5,30.7z')
			polygon.logoBNBSst15(points='93.4,18.8 93.8,33.4 84.8,18.4 76.5,20.5 75.4,53.3 84.4,53.6 84.9,36 95,52.7 103.3,50.3       102.3,18.6 	')
	symbol#game_care
		style(type='text/css').
			.game_care{fill:black;}
		path.game_care(d='M37.8 46.2c2.2-0.3 4.3-0.7 6.5-1.4 2.5-0.8 5-1.8 7.3-3.1 0.1 0 0.2-0.1 0.3-0.1 -0.2 0.5-0.3 1-0.5 1.5 -0.3 0.9-0.6 1.8-0.8 2.7 -0.1 0.3-0.1 0.7 0 1.1 0.1 0.6 0.5 1 1 1.3 1.3 0.9 2.7 1.1 4.3 0.7 0.9-0.2 1.5-0.8 1.8-1.7 0.1-0.2 0.1-0.4 0.2-0.6 0.1-0.6 0.3-1.1 0.4-1.7 0.7-2.6 1.4-5.1 2.1-7.6 0.1-0.4 0.2-0.8 0.3-1.2 0.2-1-0.1-1.8-1-2.3 -0.3-0.2-0.7-0.3-1.1-0.5 -0.8-0.2-1.7-0.3-2.5-0.3 -3 0-6 0-9 0 -0.7 0-1.3 0-2-0.1 -1.6-0.1-3.1-0.1-4.7 0.1 -0.6 0.1-1.3 0.2-1.8 0.5 -1.1 0.6-1.3 1.9-0.5 2.8 0.5 0.5 1.1 0.8 1.8 1 0.9 0.2 1.7 0.2 2.6 0.2 0.8 0 1.5-0.1 2.3-0.1 0.8 0 1.7 0 2.5 0 0.1 0 0.2 0 0.3 0.1 -0.4 0.3-0.8 0.5-1.1 0.7 -1.9 1.1-3.9 1.9-6 2.4 -2 0.5-4.1 0.8-6.2 0.9 -1.5 0.1-3.1 0.1-4.6 0 -0.3 0-0.6-0.1-0.9-0.1 0-0.2 0-0.4 0-0.6 0-8.7 0-17.4 0-26.2 0-0.1 0-0.2 0-0.3 0-0.1 0-0.2 0.1-0.3 1.8-0.2 3.5-0.2 5.3-0.1 2 0.1 4 0.4 5.9 0.9 2.2 0.5 4.4 1.2 6.4 2.4 0.9 0.5 1.9 0.7 2.9 0.6 0.5 0 1.1-0.1 1.5-0.4 0.8-0.5 1-1.5 0.3-2.2 -0.4-0.4-0.8-0.7-1.3-0.9 -1.6-0.6-3.1-1.3-4.7-1.9 -1.9-0.7-3.9-1.2-6-1.5 -1.5-0.2-3.1-0.4-4.7-0.4 -1.7-0.1-3.5 0-5.2 0.1 -0.2 0-0.4 0-0.7 0 0-2.8 0-5.6 0-8.5 -0.2 0-0.3 0-0.4 0 -7.5 0-15.1 0-22.6 0 -0.3 0-0.6 0-0.8 0.1C2.3 2.8 0.9 5.2 1 7 1 21 1 35 1 49c0 1.4 0.6 2.5 1.5 3.5 1 0.9 2.2 1.3 3.5 1.3 4.6 0 9.2 0 13.8 0 2.8 0 5.6 0 8.4 0 0.1 0 0.3 0 0.4 0 0-0.4 0-0.8 0-1.2 0-0.4 0-0.8 0-1.2 0-0.4 0-0.8 0-1.2 0-0.4 0-0.8 0-1.2 0-0.4 0-0.8 0-1.2 0-0.4 0-0.8 0-1.2 0.2 0 0.4 0 0.6 0 0.6 0 1.2 0.1 1.8 0.1C33.4 46.6 35.6 46.5 37.8 46.2zM28.7 14c-0.5 0.1-1 0.1-1.4 0.2 -2 0.3-3.9 0.8-5.8 1.5 -2.6 0.9-5 2.3-7 4.2 -1.4 1.3-2.5 2.8-3.2 4.6 -0.5 1.3-0.7 2.7-0.5 4.1 0.2 2.5 1.3 4.5 3 6.3 1.6 1.6 3.4 2.9 5.4 3.9 2.5 1.3 5.2 2 8 2.5 0.5 0.1 1.1 0.1 1.6 0.2 0 1.6 0 3.3 0 5 -0.4 0-0.7-0.1-1.1-0.1 -2.6-0.3-5.2-0.8-7.7-1.6 -2.9-0.9-5.6-2.1-8.1-3.8 -2-1.4-3.7-3-5.1-5 -1.2-1.6-1.9-3.5-2.2-5.4 -0.5-3.5 0.3-6.8 2.4-9.6 1.6-2.1 3.5-3.8 5.7-5.2 3-1.9 6.4-3.2 9.9-4 1.8-0.4 3.6-0.7 5.5-0.8 0.2 0 0.4 0 0.6-0.1 0 0 0.1 0 0.1 0C28.7 11.8 28.7 12.9 28.7 14z')
		path.game_care(d='M52.9 64.2c0.8-0.3 1.3-0.9 1.6-1.7 0.2-0.6 0.2-1.1 0.1-1.7 -0.1-1.2-1-2.1-2.1-2.4 -0.3-0.1-0.7-0.1-1-0.1 -1.1 0-2.1 0-3.2 0 -0.1 0-0.2 0-0.2 0 0 3 0 6.1 0 9.1 0.5 0.1 2 0 2.3 0 0-0.9 0-1.8 0-2.7 0 0 0 0 0.1 0 0.6 0.9 1.1 1.8 1.7 2.8 0.9 0 1.7 0 2.6 0 0 0 0.1 0 0.2 0 -0.8-1.1-1.5-2.1-2.2-3.1C52.7 64.3 52.8 64.2 52.9 64.2zM51.8 62.3c-0.5 0.2-1 0.2-1.5 0.1 0-0.7 0-1.4 0-2.1 0.5 0 0.9-0.1 1.4 0.1 0.4 0.1 0.6 0.4 0.7 0.9C52.4 61.8 52.2 62.2 51.8 62.3z')
		path.game_care(d='M38.8 64c-0.5 0-1 0-1.6 0 -0.4 0-0.6 0.1-0.8 0.4 -0.9 1.2-2.7 1.2-3.7 0 -0.3-0.3-0.5-0.7-0.5-1.2 -0.3-1.7 1.1-3.1 2.8-2.8 0.7 0.1 1.2 0.5 1.5 1.1 0.1 0.2 0.3 0.3 0.6 0.3 0.6 0 1.1 0 1.7 0 0.1 0 0.2 0 0.4 0 0-0.1 0-0.1 0-0.2 -0.4-1.2-1-2.1-2-2.8 -2.8-1.8-6.6-0.2-7.2 3 -0.4 2 0.4 3.9 2.1 5.1 0.9 0.6 1.9 0.7 2.9 0.7 2-0.1 3.7-1.5 4.2-3.5C39 64.1 38.9 64 38.8 64z')
		path.game_care(d='M26.7 58.3c-0.9 2.3-1.8 4.6-2.6 6.9 0 0 0 0-0.1 0 -0.9-2.3-1.8-4.6-2.6-6.9 -0.7 0-1.3 0-2 0 -0.1 0.6 0 8.9 0 9.1 0.4 0 0.8 0 1.2 0 0-2.5-0.1-5.1-0.1-7.6 0 0 0.1 0 0.1 0 1 2.5 1.9 5.1 2.9 7.6 0.3 0 0.6 0 1 0 1-2.5 1.9-5.1 2.9-7.6 0 0 0 0 0.1 0 0 2.5-0.1 5.1-0.1 7.6 0.1 0 0.1 0 0.2 0 0.3 0 0.7 0 1.1 0 0.1-0.5 0.1-8.9 0-9.1C28 58.3 27.3 58.3 26.7 58.3z')
		path.game_care(d='M42.2 58.3c-1.2 3-2.4 6.1-3.5 9.1 0.9 0 1.7 0 2.5 0 0.2-0.4 0.3-0.9 0.5-1.3 1 0 2 0 3 0 0.2 0.4 0.3 0.9 0.5 1.3 0.8 0 1.6 0 2.5 0 -1.2-3.1-2.4-6.1-3.5-9.1C43.5 58.3 42.9 58.3 42.2 58.3zM42.3 64.2c0.3-0.9 0.6-1.8 0.9-2.7 0 0 0 0 0.1 0 0.3 0.9 0.6 1.8 0.9 2.7C43.5 64.2 42.9 64.2 42.3 64.2z')
		path.game_care(d='M58 63.9c0.9 0 1.8 0 2.7 0 0.1-0.7 0-1.8 0-2.1 -0.9 0-1.8 0-2.7 0 0-0.5 0-1 0-1.4 0.5 0 0.9 0 1.4 0 0.4 0 0.9 0 1.3 0 0.1-0.5 0-1.8 0-2 -1.6 0-3.3 0-4.9 0 -0.1 0.5-0.1 8.9 0 9.1 1.7 0 3.3 0 5 0 0-0.7 0-1.3 0-2 -0.9 0-1.8 0-2.7 0C58 64.9 58 64.4 58 63.9z')
		path.game_care(d='M10.4 62.9c-1.9 0-3.8 0-5.7 0 0 0.4 0 0.8 0 1.3 1.4 0 2.7 0 4.2 0 -0.2 0.3-0.4 0.6-0.6 0.9 -1.3 1.6-3.7 1.7-5.1 0.2 -1-1.1-1.1-2.8-0.4-4.1 0.8-1.3 2.1-1.9 3.6-1.6C7.1 59.7 7.6 60 8 60.4c0.1 0.1 0.2 0.2 0.3 0.2 0.5 0 1 0 1.5 0 -0.2-0.5-0.4-0.8-0.7-1.1 -0.8-0.8-1.7-1.3-2.9-1.4 -1.6-0.1-2.9 0.3-4 1.5 -1 1.1-1.4 2.5-1.2 4 0.3 2.3 2.4 4.4 5.5 3.9 1.9-0.3 3.1-1.5 3.7-3.3C10.3 63.8 10.4 63.3 10.4 62.9z')
		path.game_care(d='M13.7 58.3c-1.2 3-2.4 6.1-3.6 9.1 0.5 0 1 0 1.4 0 0.3-0.8 0.6-1.6 0.9-2.4 0.1-0.3 0.1-0.3 0.4-0.3 1 0 2 0 3 0 0.1 0 0.2 0 0.3 0 0.3 0.9 0.7 1.8 1 2.6 0.5 0 1 0 1.5 0 -1.2-3.1-2.4-6.1-3.6-9.1C14.6 58.3 14.1 58.3 13.7 58.3zM13.1 63.5c0.4-1.1 0.8-2.2 1.3-3.3 0 0 0 0 0.1 0 0.4 1.1 0.8 2.2 1.2 3.3C14.8 63.5 13.9 63.5 13.1 63.5z')
	symbol#gambleware18plusst
		style(type='text/css').
			.gambleware18plusst{fill:#231F20;}
		path#logo.gambleware18plusst(d='M90.5,24.7c1.2-0.1,2.5,0,3.7-0.1c0,2.7,0,5.3,0,8c1-1,1.9-2.3,3.3-2.7c0.8-0.1,1.6-0.1,2.4,0	c2.3,0.8,3.5,3.2,3.9,5.4c0.1,1.1,0.1,2.3,0,3.4c-0.4,2-1.5,4-3.3,5.1c-0.9,0.5-2,0.4-2.9,0.3c-1.4-0.3-2.3-1.5-3.2-2.5	c0,0.7,0,1.5,0,2.3c0,0-0.1,0.1-0.2,0.2c-1.2,0.1-2.4,0-3.6,0c0-0.6-0.1-1.2,0.1-1.8c0.6,0,1.2,0,1.7-0.1c0-5.3,0-10.5,0-15.8	c-0.6,0-1.1-0.1-1.7,0C90.5,25.9,90.4,25.3,90.5,24.7L90.5,24.7z M97.2,31.5c-1.8,0.7-3.2,2.6-3,4.6c0.1,1.1-0.1,2.3,0.3,3.4	c0.4,1.4,1.5,2.5,2.8,2.9c1.3,0.5,2.8-0.3,3.5-1.4c0.9-1.5,1-3.2,0.9-4.9c-0.2-1.1-0.4-2.3-1.1-3.3C100,31.7,98.5,31,97.2,31.5z	M105.4,24.7c1.2,0,2.5,0,3.7,0c0,5.8,0,11.6,0,17.4c0.2,0.7,1.2,0.2,1.8,0.3c0,0.6,0,1.1,0,1.7c-0.9,0.2-1.8,0.1-2.7,0.1	c-1,0-2,0.1-3-0.1c0-0.5,0-1.1,0-1.6c0.7,0,1.3,0,2,0c0-5.4,0-10.7,0-16.1c-0.6,0-1.2,0-1.8,0C105.4,25.7,105.4,25.2,105.4,24.7	L105.4,24.7z M43.2,25.1c1.3-0.1,2.8-0.2,4,0.6c1,0.5,1.6,1.5,2.4,2.2c0-0.8,0-1.7,0-2.5c0.6,0,1.1,0,1.7,0c0,1.9,0,3.8,0,5.8	c-0.6,0-1.2,0-1.8,0c-0.4-1.3-1-2.6-2.2-3.4c-1.1-0.7-2.5-1.2-3.8-0.7c-2.1,0.7-3.3,2.7-3.7,4.8c-0.4,1.3-0.3,2.7-0.2,4	c0.3,1.9,0.9,3.9,2.4,5.3c1.2,1.1,2.9,1.4,4.4,0.8c2.2-0.9,3.5-3.3,3.3-5.6c-1.1,0-2.3,0-3.4,0c-0.3,0-0.6-0.1-0.9-0.2	c0.1-0.5,0.2-0.9,0.3-1.4c2,0,4-0.1,6,0c0.1,2.2,0,4.4,0,6.7c0,0.8,0.1,1.6,0,2.4c-0.6,0.2-1.2,0-1.8,0.1c0-0.9,0-1.9-0.2-2.8	c-0.7,1.6-2.3,2.7-4,3.2c-0.8,0.1-1.5,0.1-2.3,0c-2-0.5-3.6-1.9-4.6-3.6c-1.4-2.5-1.8-5.4-1.3-8.2c0.4-2.1,1.2-4.3,2.8-5.8	C41,26,42.1,25.4,43.2,25.1L43.2,25.1z M5,25.5c3.1,0,6.2,0,9.3,0c0.9,0.2,1.9,0.1,2.6,0.6c2.1,1.3,3,4.2,2,6.4	c-0.3,0.7-1.1,1.1-1.7,1.7c0.7,0.5,1.4,0.9,1.9,1.6c1.2,1.7,1.1,4.1,0.1,5.8c-0.9,1.5-2.6,2.2-4.3,2.4c-3.3,0-6.6,0-9.9,0	c0-1,0-2,0-3c0.4,0,0.8,0,1.1,0c0.1-0.3,0.2-0.5,0.2-0.8c0-3.8,0-7.7,0-11.5C6,28.4,5.4,28.4,5,28.5C5,27.5,4.9,26.5,5,25.5L5,25.5z	M10,28.6c0,1.5,0,2.9,0,4.4c1.1,0,2.3,0,3.4,0c0.7,0,1.4-0.3,1.8-0.8c0.6-0.6,0.5-1.6,0.4-2.3c-0.4-0.7-1.2-1.2-2-1.3	C12.4,28.6,11.2,28.6,10,28.6z M10,35.9c0,1.7,0,3.3,0,5c1.5,0,3,0.1,4.5,0c1.5-0.3,2.2-2.1,1.6-3.5c-0.4-0.9-1.4-1.5-2.4-1.5	C12.5,35.9,11.3,35.9,10,35.9z M132.4,25.5c1.4,0,2.7,0,4.1,0l0.1,0.1c1.7,5.2,3.2,10.4,4.9,15.5c0.4,0,0.9,0,1.3,0.2	c0,0.9,0,1.9,0,2.8c-1.3,0.2-2.7,0.2-4,0c-0.3-1.3-0.8-2.5-1-3.8c-1.1-0.3-2.2-0.2-3.3-0.1c-1,0.2-2-0.2-3,0.1	c-0.2,1.3-0.7,2.5-1,3.8c-1.4,0.3-2.8,0-4.2,0c0-1,0-1.9,0-2.9c0.4,0,0.8,0,1.3,0c0.4-0.7,0.6-1.5,0.8-2.3c1.2-4,2.4-8,3.6-11.9	C132,26.4,132.2,25.9,132.4,25.5L132.4,25.5z M133.7,31.8c-0.5,1.8-1,3.5-1.5,5.3c0.3,0.1,0.6,0.2,0.9,0.2c1.2,0,2.4,0,3.7,0	c-0.4-1.4-0.8-2.8-1.1-4.2c-0.4-1.3-0.7-2.7-1.2-3.9C134.3,30,133.9,30.9,133.7,31.8z M24.2,31.2c1.5-1.4,3.8-2.1,5.7-1.4	c1.7,0.4,3.1,1.6,3.8,3.2c0.7,1.4,1.2,3,1,4.7c-0.2,0.2-0.4,0.3-0.6,0.2c-2.9,0-5.9,0-8.8,0c-0.1,1.5,0.7,3.1,2.2,3.7	c0.8,0.1,1.7,0.2,2.4-0.3c0.6-0.4,1-1.1,1.4-1.7c1.1,0,2.2-0.1,3.3,0c-0.4,1.3-1,2.7-2.1,3.6c-1.5,1.2-3.5,1.7-5.3,1.3	c-1.4-0.4-2.8-1.1-3.7-2.3C21.2,38.9,21.3,34,24.2,31.2L24.2,31.2z M25.6,35.2c1.9,0,3.7,0,5.6,0c0-1-0.6-2-1.5-2.4	C27.9,31.8,25.6,33.4,25.6,35.2z M189.8,31.8c1.3-1.6,3.3-2.5,5.4-2.3c1.5,0.2,3,0.9,4,2.1c0.8,1,1.3,2.2,1.6,3.4	c0.3,0.9,0.2,1.8,0.2,2.7c-3.2,0-6.3,0-9.5,0c0,1.3,0.6,2.7,1.7,3.4c0.7,0.5,1.5,0.4,2.3,0.3c1-0.3,1.5-1.2,2-2c1.1,0,2.2-0.1,3.3,0	c-0.3,1.6-1.2,3-2.5,3.9c-1.3,0.9-2.9,1.3-4.5,1.1c-1.4-0.3-2.8-1-3.8-2.1c-0.9-1-1.4-2.2-1.7-3.4c-0.1-0.8-0.1-1.7-0.1-2.5	C188.1,34.8,188.8,33.1,189.8,31.8L189.8,31.8z M192.7,33.2c-0.6,0.5-0.9,1.3-1.1,2c1.9,0,3.8,0,5.7,0c0-1.3-1.1-2.5-2.3-2.7	C194.1,32.4,193.3,32.7,192.7,33.2z M57.2,30.2c1-0.5,2.2-0.5,3.4-0.4c1.2,0.2,2.5,0.7,3.1,1.8c0.6,0.9,0.8,1.9,0.8,3	c0,2.5,0,5.1,0,7.6c0.6,0.3,1.2,0.1,1.8,0.2c0.1,0.5,0.3,1.1,0.3,1.6c-1.3,0.1-2.6,0.2-3.9,0c0-0.7,0-1.3,0-2	c-0.4,0.4-0.8,0.9-1.3,1.2c-1.2,0.9-2.6,1.3-4.1,1.1c-1.5-0.4-2.8-1.6-3.2-3.1c-0.5-1.4-0.1-3.3,1.2-4.2c1.3-0.9,3-1.3,4.6-1.5	c0.9-0.1,1.8-0.3,2.7-0.3c0-1.1,0.3-2.4-0.6-3.2c-0.8-0.9-2.1-0.7-3.1-0.7c-0.6,0-1.2,0.3-1.6,0.8c-0.4,0.5-0.4,1.1-0.8,1.6	c-0.7,0.1-1.3,0-2,0C54.6,32.3,55.7,30.8,57.2,30.2z M58.7,37.6c-0.9,0.2-1.8,0.6-2.3,1.5c-0.2,0.8-0.2,1.8,0.3,2.6	c0.5,0.7,1.3,1.2,2.1,1.1c1.5,0.1,2.9-1,3.6-2.3c0.6-1.1,0.3-2.4,0.4-3.7C61.3,37,60,37.2,58.7,37.6z M150.7,30.1	c0.1-0.3,0.4-0.2,0.6-0.2c0.9-0.2,1.8-0.1,2.7,0.1c0.2,0.1,0.2,0.4,0.3,0.6c0.4,2.4,0.9,4.7,1.4,7c0.2,0.7,0.2,1.5,0.5,2.2l0.3,0.1	c0.5-2.4,1-4.7,1.5-7.1c-0.4-0.1-0.9-0.2-1.3-0.2c0-0.9,0-1.8,0-2.7c1.8,0,3.5,0,5.3,0c0,0.9,0,1.8,0,2.7c-0.4,0-0.8,0-1.1,0.2	c-0.2,0.4-0.3,0.9-0.4,1.4c-0.8,3.2-1.6,6.5-2.4,9.7c-1.2,0-2.4,0.1-3.6,0c-0.7-3.2-1.4-6.3-2.1-9.5c-0.5,1.6-0.8,3.2-1.1,4.9	c-0.3,1.6-0.7,3.1-1,4.7c-1.1,0-2.3,0-3.4,0c-0.1-0.3-0.3-0.6-0.3-0.9c-0.9-3.5-1.8-7-2.7-10.5c-0.3,0-0.7,0-1,0	c-0.2-0.9-0.2-1.9,0-2.8c1.6,0,3.3,0,4.9,0c0.1,0.1,0.2,0.2,0.2,0.2c0,0.8,0,1.7,0,2.5c-0.4,0-0.8,0-1.2,0c0,0.3,0,0.6,0.1,0.9	c0.5,2.3,1.1,4.6,1.5,7c0.5-0.9,0.6-1.9,0.8-2.9c0.3-1.8,0.7-3.5,1-5.3C150.4,31.6,150.3,30.8,150.7,30.1L150.7,30.1z M72.1,32.4	c0.9-1.1,1.8-2.4,3.3-2.6c1,0,2.1-0.2,2.8,0.5c0.6,0.5,0.9,1.3,1.1,2c0.9-1,1.6-2.3,3-2.6c1-0.1,2.2-0.3,3.1,0.5	c0.9,0.7,1.1,1.9,1.2,2.9c0,3.1,0,6.1,0,9.2c0.6,0,1.2,0,1.8,0c0,0.5,0.1,1.1-0.1,1.6c-1.2,0.2-2.4,0-3.6,0.1c0-3,0-6.1,0-9.1	c0-0.8-0.1-1.6-0.3-2.4c-0.2-0.7-0.8-1.3-1.6-1.2c-1.5-0.2-2.6,1.1-3.2,2.4c-0.5,0.8-0.4,1.8-0.5,2.7c0,1.9,0,3.8,0,5.8	c0.7,0.2,1.3,0.2,2,0.2c0,0.6,0,1.1,0,1.7c-1.2,0-2.4,0-3.6,0c-0.1-0.1-0.2-0.2-0.2-0.3c0-3.4,0-6.9,0-10.3c0-0.7-0.2-1.5-0.9-1.9	c-0.9-0.5-2-0.2-2.7,0.4c-1,0.9-1.8,2.1-1.8,3.5c0,2.3,0,4.6,0,6.9c0.6,0.1,1.4-0.2,1.9,0.2c0,0.5,0,1,0,1.5c-1.9,0-3.8,0-5.8,0	c0-0.5,0-1,0-1.6c0.6,0,1.2,0,1.8-0.2c0.1-0.4,0.2-0.7,0.2-1.1c0-2.8,0-5.7,0-8.5c0-0.4-0.1-0.8-0.2-1.1c-0.6-0.2-1.2-0.2-1.8-0.2	c0-0.5,0-1,0-1.6c1.2,0,2.5,0,3.7,0L72,30C72.1,30.8,72.1,31.6,72.1,32.4L72.1,32.4z M184.9,29.8c0.8-0.1,1.7-0.1,2.5,0	c0,1.1,0,2.2,0,3.3c-1.3,0-2.7-0.3-3.7,0.7c-1.3,1.1-1,3-1,4.5c0.1,1-0.2,2.1,0.2,3c0.5,0,0.9,0,1.4,0c0.1,0.9,0.1,1.9,0,2.8	c-2.1,0-4.1,0-6.2,0c0-0.9,0-1.8,0-2.7c0.3,0,0.7,0,1,0c0.4,0.1,0.4-0.4,0.4-0.6c0-1.3,0.1-2.6-0.1-3.9c-0.1-0.8,0.1-1.6,0.1-2.4	c0-0.6-0.1-1.1-0.1-1.7c-0.4,0-0.8,0-1.1,0c0-0.9,0-1.8,0-2.6c1.4,0,2.9,0,4.3,0c0,0.6,0,1.3,0,1.9	C183.2,31.2,183.8,30.1,184.9,29.8z M115.9,30.4c0.9-0.6,1.9-0.6,2.9-0.5c1.5-0.1,2.9,0.9,3.8,2c1.2,1.6,1.7,3.6,1.6,5.6	c-2.5,0-5.1,0-7.6,0c-0.6,0-1.3-0.1-1.9,0.1c0.1,1.4,0.4,2.8,1.3,3.9c1,1.1,2.7,1.6,4.1,0.9c0.9-0.4,1.3-1.4,1.9-2.2	c0.7,0,1.3,0,2,0c0,1.1-0.7,2-1.4,2.7c-1.4,1.4-3.7,2.1-5.6,1.3c-2-0.6-3.5-2.3-4-4.3c-0.4-1-0.3-2-0.3-3.1	C112.4,34.3,113.7,31.7,115.9,30.4L115.9,30.4z M116.9,31.9c-1.4,0.8-2.2,2.3-2.1,3.9c2.4,0,4.8,0,7.2,0c0-1.6-0.8-3.5-2.4-4.2	C118.7,31.5,117.7,31.4,116.9,31.9L116.9,31.9z M166.4,30.2c1.2-0.6,2.5-0.3,3.7-0.4c2.2,0,4.3,1.7,4.5,4c0.1,2.5-0.1,5.1,0,7.6	c0.4,0,0.7,0,1.1,0c0,0.8,0,1.7,0,2.5c-0.7,0.2-1.4,0.2-2.1,0.2c-0.7,0-1.4,0.1-2.1-0.2c0-0.5,0-0.9,0-1.4c-1.1,1.1-2.6,1.9-4.1,1.8	c-2.4,0-4.8-2.1-4.5-4.6c-0.2-1.6,0.9-3,2.3-3.7c1.9-0.9,4.1-1,6.2-1.2c0-0.8,0.1-1.6-0.5-2.2c-0.6-0.7-1.7-0.5-2.5-0.5	c-1.1,0.1-1.6,1.2-1.6,2.2c-1,0-2,0-3.1,0C163.4,32.6,164.8,30.9,166.4,30.2L166.4,30.2z M167.7,38.1c-0.6,0.2-1.3,0.7-1.3,1.4	c0,0.6-0.1,1.3,0.4,1.7c1.2,1.2,3.4,0.5,4.2-0.9c0.5-0.8,0.3-1.9,0.4-2.8C170.1,37.5,168.9,37.7,167.7,38.1z')
	symbol#hamburger
		style(type='text/css').
			.st0hamburger {
			fill: #FC155C;
			}
		rect.st0hamburger(x='17.3', y='28', width='75.4', height='10')
		rect.st0hamburger(x='17.3', y='50.5', width='56.8', height='10')
		rect.st0hamburger(x='17.3', y='73', width='56.8', height='10')
	symbol#bullet
		style(type='text/css').
			.bulletst0 {
			fill: #FC155C;
			}
		g
			path.bulletst0(d='M55,29c14.3,0,26,11.7,26,26S69.3,81,55,81S29,69.3,29,55S40.7,29,55,29 M55,24c-17.1,0-31,13.9-31,31      s13.9,31,31,31s31-13.9,31-31S72.1,24,55,24L55,24z')
	symbol#cross
		style(type='text/css').
			.crossst0 {
			fill: none;
			stroke: #000000;
			stroke: inherit;
			stroke-width: 8.8098;
			stroke-linecap: round;
			stroke-miterlimit: 10;
			}
		path.crossst0(d='M102.7,9C37.8,73.9,9.4,102.3,9.4,102.3')
		path.crossst0(d='M102.7,102.3C37.8,37.4,9.4,9,9.4,9')
	symbol#filter
		g
			path(d='M85.4,17.9L62.3,48.3l-1.6,2.1v2.7v28.6l-8.5,10.9V53.1v-2.7l-1.6-2.1L27.4,17.9H85.4 M101.3,10L101.3,10L101.3,10z      M101.3,10H11.5l32.7,43.1v41.2c0,4.5,3.6,7.3,7.4,7.3c2.1,0,4.2-0.9,5.7-2.8l11.2-14.4V53.1L101.3,10L101.3,10z')
	symbol#fullStar
		style(type='text/css').
			.fullStar {
			fill: #FC155C;
			}
		g
			polygon.fullStar(points='54.9,4 71.5,37.5 108.5,42.9 81.7,69 88,105.9 54.9,88.5 21.8,105.9 28.1,69 1.4,42.9 38.4,37.5 	')
	symbol#halfStar
		style(type='text/css').
			.halfStarst0 {
			fill: #FC155C;
			}
			.halfStarst1 {
			fill: #A9A9A9;
			}
		g
			polygon.halfStarst0(points='54.9,4 71.5,37.5 108.5,42.9 81.7,69 88,105.9 54.9,88.5 21.8,105.9 28.1,69 1.4,42.9 38.4,37.5 	')
		polygon.halfStarst1(points='71.5,37.5 55,4.2 55,88.5 88,105.9 81.7,69 108.5,42.9 ')
	symbol#arrow
		//- svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 82 82')
		defs
			style.
				.arrow-1,.arrow-2{fill:none;stroke:#798992;stroke-linecap:round;stroke-linejoin:round;}.arrow-1{stroke-width:7px;}.arrow-2{stroke-width:6px;}
		title arrow
		g#Layer_2(data-name='Layer 2')
			g#Layer_1-2(data-name='Layer 1')
				polyline.arrow-1(points='42.73 26.73 57 41 42.73 55.27')
				line.arrow-1(x1='24.5', y1='41', x2='57', y2='41')
				circle.arrow-2(cx='41', cy='41', r='38')
	symbol#calendar
		//- svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 77.38 80.19')
		defs
			style.
				.calendar-1,.calendar-2{fill:none;stroke:#798992;stroke-linejoin:round;stroke-width:5.88px;}.calendar-2{stroke-linecap:square;}
		title calendar
		g#Layer_2(data-name='Layer 2')
			g#Layer_1-2(data-name='Layer 1')
				path.calendar-1(d='M2.94,11.25h71.5a0,0,0,0,1,0,0v54.2a11.8,11.8,0,0,1-11.8,11.8H14.74a11.8,11.8,0,0,1-11.8-11.8V11.25A0,0,0,0,1,2.94,11.25Z')
				path.calendar-1(d='M38.08,49.61a6.75,6.75,0,1,1,11.31,3.08')
				polyline.calendar-1(points='49.39 52.69 37.11 64.98 55.01 64.98')
				line.calendar-1(x1='2.94', y1='27.82', x2='74.44', y2='27.82')
				polyline.calendar-2(points='22.37 46.93 28.14 41.17 28.14 64.98')
				line.calendar-1(x1='19.19', x2='19.19', y2='16.75')
				line.calendar-1(x1='58.19', x2='58.19', y2='16.75')
	symbol#comments
		//- svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 82.02 74.26')
		defs
			style.
				.comments-1{fill:none;stroke:#798992;stroke-linejoin:round;stroke-width:5.88px;}
		title comments
		g#Layer_2(data-name='Layer 2')
			g#Layer_1-2(data-name='Layer 1')
				path.comments-1(d='M28.46,38.14V25.91a6,6,0,0,1,6-5.95h6.8')
				path.comments-1(d='M53.56,20H73.12a6,6,0,0,1,6,5.95v28.4a6,6,0,0,1-6,5.95H38.67L28.46,71.32V46.06')
				path.comments-1(d='M8.9,38.14H43.35L53.56,49.2V8.9a6,6,0,0,0-6-6H8.9a6,6,0,0,0-6,6V32.19A6,6,0,0,0,8.9,38.14Z')
	symbol#date
		//- svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 82 82')
		defs
			style.
				.date-1,.date-2{fill:none;stroke:#798992;stroke-linejoin:round;}.date-1{stroke-linecap:round;stroke-width:6px;}.date-2{stroke-width:5.88px;}
		title date
		g#Layer_2(data-name='Layer 2')
			g#Layer_1-2(data-name='Layer 1')
				circle.date-1(cx='41', cy='41', r='38')
				polyline.date-2(points='19 44.38 42 44.38 42 11')
	symbol#calendar
		//- svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 55.36 82.9')
		defs
			style.
				.calendar-1{fill:none;stroke:#798992;stroke-linejoin:round;stroke-width:5.88px;}
		title tags
		g#Layer_2(data-name='Layer 2')
			g#Layer_1-2(data-name='Layer 1')
				polygon.calendar-1(points='44.11 71.38 2.94 71.38 2.94 19.3 23.53 2.94 44.11 19.3 44.11 71.38')
				polyline.calendar-1(points='43.54 27.37 52.42 34.43 52.42 79.96 16.43 79.96 16.43 68.97')
				circle.calendar-1(cx='23.25', cy='24.34', r='4.77')

