section.container
	h2 BEST TOP 5 BINGO SITES
	ul.top.top--colorBlue.list-unstyled.container.p-0
		li.line.d-flex.flex-column.m-0.top--head
			.row.py-1
				.col-1.d-none.d-lg-block.text-center
					.px-2 S.NO
				.col.d-none.d-lg-block Bingo site
				.col.text-center.text-lg-left
					.mr-2 Deposit Bonus
				.col.d-none.d-lg-block Software
				.col.d-none.d-lg-block.text-right
					.mr-2 Get Bonus
		+top(1, "Rewind Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(2, "Kingdom of Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(3, "BoyleSports Bingo", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(4, "", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(5, "Oink Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")

section.container
	h2 LATEST BINGO SITES
	ul.top.top--primary.list-unstyled.container.p-0
		li.line.d-flex.flex-column.m-0.top--head
			.row.py-1
				.col-1.d-none.d-lg-block.text-center
					.px-2 S.NO
				.col.d-none.d-lg-block Bingo site
				.col.text-center.text-lg-left
					.mr-2 Deposit Bonus
				.col.d-none.d-lg-block Software
				.col.d-none.d-lg-block.text-right
					.mr-2 Get Bonus
		+top(1, "Rewind Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(2, "Kingdom of Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(3, "BoyleSports Bingo", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(4, "", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
		+top(5, "Oink Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")