// stylelint-disable declaration-no-important

.align-baseline    { vertical-align: baseline /*i*/; } // Browser default
.align-top         { vertical-align: top /*i*/; }
.align-middle      { vertical-align: middle /*i*/; }
.align-bottom      { vertical-align: bottom /*i*/; }
.align-text-bottom { vertical-align: text-bottom /*i*/; }
.align-text-top    { vertical-align: text-top /*i*/; }
