.top
	&--head
		background: $primary
		font-family: $sans
		color: $white
	.title-bingo
		color: $gray-500
	.line
		border-bottom: 1px solid red
	
	&--colorBlue
		border: 1px solid $blue
		.top--head
			background: $blue
		.btn
			background: $blue
			border-color: darken($blue, 10%)
		.line
			border-bottom: 1px solid $blue

	&--primary
		border: 1px solid $primary
		.top--head
			background: $primary
		.btn
			background: $primary
			border-color: darken($primary, 10%)
		.line
			border-bottom: 1px solid $primary