extends views/templates/layout_amp
block content
	.container.p-0
		//- bingo site
		+header(4)
		+descriptionHero("dark")
		+description("white")
		+metas
		//- RELATED
		+related(4, "Related Bingo sites")
	//- FOOTER CTA
	//- hr.my-5.footerSpace
	.fixed-bottom.footerCta
		.p-0.m-0.d-flex.justify-content-center.ml-auto.d-flex.flex-lg-column
			.mx-auto.mr-lg-3.my-3
				a.mr-4(href="#") Write a review
				a.btn.btn-primary.btn-lg(href="#") Play Now

