extends views/templates/layout_amp
block content
	section.container.mt-4
		.row
			.col-12.col-lg-4.pb-4
				.card.h-100
					.badge New Bingo Site
					.amp-img
						amp-img.card-img-top(src='images/covers/kozmo2.png', alt="", width="600" height="420" layout="responsive")
					.card-body.d-flex.flex-column
						h3.card-title  Kozmo Bingo
						+stars(4)
						.card-body--offer-cta.d-flex.flex-column.mt-auto
							a.btn.btn-primary.btn-lg(href="#") Read Review
			.col-12.col-lg-4.pb-4
				.card.h-100
					.ribbon-wrapper
						.ribbon BINGO
					.amp-img
						amp-img.card-img-top(src='images/covers/rewind.png', alt="", width="600" height="420" layout="responsive")
					.card-body.card-body--offer.d-flex.flex-column
						h3.card-title 300% Deposit Bonus Deposit £10 Play With £40
						.card-body--offer-cta.d-flex.flex-column.mt-auto
							a.btn.btn-secondary.btn-lg(href="#") Play Now
							small.text-center.text-muted.mt-1.terms-font * New players only, 18+. T&Cs including wagering requirements apply. Please gamble responsibly
			.col-12.col-lg-4.pb-4
				.card.h-100
					.ribbon-wrapper
						.ribbon SLOT
					.amp-img
						amp-img.card-img-top(src='images/covers/bgo.png', alt="", width="600" height="420" layout="responsive")
					.card-body.card-body--offer.d-flex.flex-column
						h3.card-title Get Fair Spins With 1st Deposit Deposit £10 Get Fair Spins
						.card-body--offer-cta.d-flex.flex-column.mt-auto
							a.btn.btn-secondary.btn-lg(href="#") Play Now
							small.text-center.text-muted.mt-1.terms-font * New players only, 18+. T&Cs including wagering requirements apply. Please gamble responsibly
	section.container
		h2 BEST TOP 5 BINGO SITES
		ul.top.top--colorBlue.list-unstyled.container.p-0
			li.line.d-flex.flex-column.m-0.top--head
				.row.py-1
					.col-1.d-none.d-lg-block.text-center
						.px-2 S.NO
					.col.d-none.d-lg-block Bingo site
					.col.text-center.text-lg-left
						.mr-2 Deposit Bonus
					.col.d-none.d-lg-block Software
					.col.d-none.d-lg-block.text-right
						.mr-2 Get Bonus
			+top(1, "Rewind Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
			+top(2, "Kingdom of Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
			+top(3, "BoyleSports Bingo", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
			+top(4, "", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
			+top(5, "Oink Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
	
	section.container
		h2 LATEST BINGO SITES
		ul.top.top--primary.list-unstyled.container.p-0
			li.line.d-flex.flex-column.m-0.top--head
				.row.py-1
					.col-1.d-none.d-lg-block.text-center
						.px-2 S.NO
					.col.d-none.d-lg-block Bingo site
					.col.text-center.text-lg-left
						.mr-2 Deposit Bonus
					.col.d-none.d-lg-block Software
					.col.d-none.d-lg-block.text-right
						.mr-2 Get Bonus
			+top(1, "Rewind Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
			+top(2, "Kingdom of Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")
			+top(3, "BoyleSports Bingo", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
			+top(4, "", "Virtue Fusion" , "30% deposit Bonus", "Deposit £10 play with £40")
			+top(5, "Oink Bingo", "Dragonfish" , "30% deposit Bonus", "Deposit £10 play with £40")

	section
		.col.py-4
			amp-selector.ampTabContainer(role='tablist', layout='container')
				.tabButton(role='tab', selected='', option='a')
					h4.py-2 Site of the month
				.tabContent(role='tabpanel')
					.p-2
						+image("img-fluid", "images/banners/vernon_bingo.png", 360, 260 )

				.tabButton(role='tab', option='b')
					h4.py-2 No deposit offers
				.tabContent(role='tabpanel')
					.p-2
						table.table
							thead.thead-secondary
								tr.sans
									th(scope='col') #
									th(scope='col') Site
									th(scope='col') Bonus
									th.text-right(scope='col') Get Bonus
							tbody
								tr
									th(scope='row') 1
									td: h4 Merlin Bingo	
									td £10 Free, No Deposit
									td.text-right
										a.btn.btn-primary.btn-sm(href="#") PLAY
								tr
									th(scope='row') 2
									td: h4 Sparkly Bingo
									td 200% Deposit Bonus
									td.text-right
										a.btn.btn-primary.btn-sm(href="#") PLAY
								tr
									th(scope='row') 3
									td: h4 Wish Bingo
									td £10 Free, No Deposit
									td.text-right
										a.btn.btn-primary.btn-sm(href="#") PLAY
								tr
									th(scope='row') 4
									td: h4 Sparkly Bingo
									td 200% Deposit Bonus
									td.text-right
										a.btn.btn-primary.btn-sm(href="#") PLAY
								tr
									th(scope='row') 5
									td: h4 Wish Bingo
									td £10 Free, No Deposit
									td.text-right
										a.btn.btn-primary.btn-sm(href="#") PLAY
