extends views/templates/layout

block content
	.container
		a(href="index_amp.html") Index
		br
		a(href="blog_amp.html") Blog
		br
		a(href="list_amp.html") List
		br
		a(href="reviews_amp.html") Reviews

		
