extends views/templates/layout_amp
block content
	.container.lightBg
		.row
			.col.order-12
				.p-0
					h2.color.mt-4.color-s.s-l News
					hr.title-underline
				ul.list-unstyled.newsGrid.d-flex.flex-wrap
					+newsard1("Where Did All The Cartoon Characters Go?", 7, 1)
					+newsard1("Win A Car A Day At Sun Bingo", 12, 2)
					+newsard1("White Rabbit   The Next Big Thing In Slot Games?", 15, 2)
					+newsard1("Mysterious Licensing Change at Cozy Bingo Sites", 7, 1)
					+newsard1("Win A Car A Day At Sun Bingo", 22)
					+newsard1("Mysterious Licensing Change at Cozy Bingo Sites", 24, 2)
					+newsard1("Where Did All The Cartoon Characters Go?", 28, 1)
					+newsard1("Mysterious Licensing Change at Cozy Bingo Sites", 31, 2)
					+newsard1("Where Did All The Cartoon Characters Go?", 7, 1)
					+newsard1("Win A Car A Day At Sun Bingo", 12)
					+newsard1("White Rabbit   The Next Big Thing In Slot Games?", 15, 2)
					+newsard1("Mysterious Licensing Change at Cozy Bingo Sites", 7, 1)
					+newsard1("Win A Car A Day At Sun Bingo", 22)
					+newsard1("Mysterious Licensing Change at Cozy Bingo Sites", 24, 2)
					+newsard1("Where Did All The Cartoon Characters Go?", 28, 1)
					+newsard1("Mysterious Licensing Change at Cozy Bingo Sites", 31, 2)
				+pagination
			.col.order-1
				.p-0
					h2.color.mt-4.color-s.s-l Offers
					hr.title-underline
				each bingor, index in related
					.container.p-0.py-3
						.row.p-0.m-0.ml-lg-2.d-flex.align-items-center.flex-lg-row
							.col.company-logo.p-0.m-0
								.amp-img(id= "bg" + index)
									amp-img.img-fluid(src="images/" + bingor.identity.logo, width="50" height="50" layout="responsive")
							.col.company-title.pl-2.text-right.text-lg-left
								h1: a(href="#")= bingor.title
								//- +stars(stars)
								a(href="#"): small Dragon Fish
						small.d-block.w-100.p-3= bingor.description.short
						.offer-card__strip.mx-3
							h2.text-center.p-3= bingor.offer.body
							//-svg(viewBox="0 0 110 110")
								use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrowBNBS" x="0" y="0")
							.offer-card--footer.p-3
								if bingor.offer.list
									ul.list-unstyled
										- max = 0;
										each atr, index in bingor.offer.list
											while max < 2
												li= atr + max
												- max++
											//- li Dragonfish Bingo Software
											//- li Deposit For Free Bingo Tickets & Daily Free Spins
											//- li No Wagering Requirements
											//- li Winnings Paid In Cash
									hr
								.d-flex
									.mx-auto
										a.mr-4(href="#") Write a review
										a.btn.btn-primary(href="#") Play Now
						p.terms.text-center.px-3: small= bingor.offer.terms


