extends views/templates/layout_amp
block content
	include views/includes/review_hero
	section.container.mt-4
		.row
			.col
				h2.text-center BINGO REVIEWS
		.row
			.col-12.col-md-4.col-lg-3.col-xl-2.pb-4
				.card.h-100
					.amp-img
						amp-img.card-img-top(src='images/covers/kozmo2.png', alt="", width="600" height="420" layout="responsive")
					.mx-1.mt-2.text-center
						h4.card-title  Kozmo Bingo
						+stars(4)
						br
						a.sans(href="#") Read the Review
					.card-body.card-body--offer.d-flex.flex-column
						h5.card-title 300% Deposit Bonus Deposit £10 Play With £40
						.card-body--offer-cta.d-flex.flex-column.mt-auto
							a.btn.btn-secondary.btn-lg(href="#") Get Bonus
			.col-12.col-md-4.col-lg-3.col-xl-2.pb-4
				.card.h-100
					.amp-img
						amp-img.card-img-top(src='images/covers/rewind.png', alt="", width="600" height="420" layout="responsive")
					.mx-1.mt-2.text-center
						h4.card-title  Kozmo Bingo
						+stars(4)
						br
						a.sans(href="#") Read the Review
					.card-body.card-body--offer.d-flex.flex-column
						h5.card-title 300% Deposit Bonus Deposit £10 Play With £40
						.card-body--offer-cta.d-flex.flex-column.mt-auto
							a.btn.btn-secondary.btn-lg(href="#") Get Bonus
			.col-12.col-md-4.col-lg-3.col-xl-2.pb-4
				.card.h-100
					.amp-img
						amp-img.card-img-top(src='images/covers/bgo.png', alt="", width="600" height="420" layout="responsive")
					.mx-1.mt-2.text-center
						h4.card-title  Kozmo Bingo
						+stars(4)
						br
						a.sans(href="#") Read the Review
					.card-body.card-body--offer.d-flex.flex-column
						h5.card-title Get Fair Spins With 1st Deposit Deposit £10 Get Fair Spins
						.card-body--offer-cta.d-flex.flex-column.mt-auto
							a.btn.btn-secondary.btn-lg(href="#") Get Bonus
			.col-12.col-md-4.col-lg-3.col-xl-2.pb-4
				.card.h-100
					.amp-img
						amp-img.card-img-top(src='images/covers/kozmo2-1.png', alt="", width="600" height="420" layout="responsive")
					.mx-1.mt-2.text-center
						h4.card-title  Kozmo Bingo
						+stars(4)
						br
						a.sans(href="#") Read the Review
					.card-body.card-body--offer.d-flex.flex-column
						h5.card-title Get Fair Spins With 1st Deposit Deposit £10 Get Fair Spins
						.card-body--offer-cta.d-flex.flex-column.mt-auto
							a.btn.btn-secondary.btn-lg(href="#") Get Bonus
			.col-12.col-md-4.col-lg-3.col-xl-2.pb-4
				.card.h-100
					.amp-img
						amp-img.card-img-top(src='images/covers/kozmo2.png', alt="", width="600" height="420" layout="responsive")
					.mx-1.mt-2.text-center
						h4.card-title  Kozmo Bingo
						+stars(4)
						br
						a.sans(href="#") Read the Review
					.card-body.card-body--offer.d-flex.flex-column
						h5.card-title 300% Deposit Bonus Deposit £10 Play With £40
						.card-body--offer-cta.d-flex.flex-column.mt-auto
							a.btn.btn-secondary.btn-lg(href="#") Get Bonus
			.col-12.col-md-4.col-lg-3.col-xl-2.pb-4
				.card.h-100
					.amp-img
						amp-img.card-img-top(src='images/covers/rewind.png', alt="", width="600" height="420" layout="responsive")
					.mx-1.mt-2.text-center
						h4.card-title  Kozmo Bingo
						+stars(4)
						br
						a.sans(href="#") Read the Review
					.card-body.card-body--offer.d-flex.flex-column
						h5.card-title 300% Deposit Bonus Deposit £10 Play With £40
						.card-body--offer-cta.d-flex.flex-column.mt-auto
							a.btn.btn-secondary.btn-lg(href="#") Get Bonus
	include views/includes/tabs
	include views/includes/news



