extends views/templates/layout_amp
block content
	.container
		.row
			.col-12
				.row
					.col
						h1 Vernons Bingo
					.col.text-right
						h2 Deposit £10 Play with £80
						a(href='#', target='_blank')
							button.btn.btn-lg.btn-secondary(type='button') PLAY NOW!
				.row
					.col
						p Average User Rating: No user ratings yet.
						ul.info.d-flex.flex-wrap.list-unstyle.pl-0.mb-0
							li.mr-3.d-flex.align-items-center
								svg.info-ico(viewbox='0 0 100 100')
									use(xlink:href='#calendar', x='0', y='0')
								span November 14, 2017
					.col.text-right
						p.sans * New players only, 18+. T&Cs including wagering requirements apply. Please gamble responsibly
			.col-12
				hr.mt-0
				.wysiwyg
					p EA (Electronic Arts) is one of the biggest video games developers and distributors in the world, with various labels publishing titles such as EA Sports FIFA, SSX, and NHL alongside massive franchises like Mass Effect, Dragon Age, Battlefield, Star Wars, The Sims and Medal of Honor.
					p EA’s newest Star Wars title – Battlefront II – is set to be released on the 17 November 2017, but is already being met with backlash from players who were able to access the game in beta trials. The main criticism is that Battlefront II uses a monetary system where players can buy loot crates to unlock playable characters such as Luke Skywalker and Darth Vader – on top of a game that already costs $60 to purchase. As the game has a multiplayer option, this would lend an unfair advantage to players who could simply buy items in-game against players who could not afford the additional cost and would have to ‘grind’ for 40 hours or more to unlock the same items.
					p Unfair, yes. But what has this got to do with gambling?
					p Well…it’s all to do with the loot boxes themselves. EA doesn’t actually guarantee that there will be certain items in the box – so players might end up spending money on something they don’t want or need for the game. Sounds a bit like slots, doesn’t it – you pay for a CHANCE, not a guaranteed win, and there’s a chance you might end up without the prize you wanted. So not only are players paying extra on top of the hefty initial price tag of the game, they’re paying for CHANCES to get bonus items, which they aren’t even guaranteed.
					p Star Wars: Battlefront II looks like it’s going to be awarded a T+ rating in the UK, designating it appropriate for teenagers and above. Star Wars is immensely popular with children and teenagers, and games aren’t usually controlled as strictly as films in terms of age certificate – a ten-year-old child may not be able to buy the game in a shop, but there’s nothing to stop their parents buying it for them.
					p But if teenagers aren’t allowed to play on slot machines or online slot games or bingo sites, why is it that this game – which allows children and teens to purchase loot boxes – pushing a similar system? There’s no ability to win money from these games, but players can still pour their cash away into purchasing random boxes which don’t even guarantee a win, and this is encouraged by the fact that players with higher-level characters or items have an advantage over those who don’t.
					p The idea is reminiscent of blind-box collectables, available from many comic book and toy stores – but even these don’t have the same encouragement to spend behind them. EA are pushing players to spend money on a game and not even get all the options – and then are encouraged to gamble on buying loot boxes for power ups.
					p The backlash has been extreme – a response from an EA spokesperson about the negative reception has become the most down-voted comment on Reddit of all time, and so many people have been cancelling their pre-orders that EA have actually removed the refund button from their site, forcing players to call up and sit through a wait line before they can cancel. EA tried slashing the prices of the loot boxes by 75%, but some eagle-eyed players noticed that the amount of credits that could be earned by manually grinding was also decreased, meaning that there was still an unfair advantage to buying boxes.
					p But unfortunately, EA isn’t the only game publisher to fill their games with microtransactions, as the format of pay-to-win seems to be becoming more popular every year with many titles utilising the format.
					p Is this the beginning of the end of microtransactions? Or will EA simply brush this incident under the carpet and continue adding loot boxes to their games?

	include views/includes/site-details
	include views/includes/tabs
	include views/includes/news