extends layout
block vars
	- amp = true
	//- dev = false
	- dev = true
	- inline = false
	- inline = true

block meta
	meta(charset='UTF-8')
	meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	title= amp + "Index"

block link
	link(rel="canonical" href="hello-world.html")
	//- amp scripts for dev
	if inline | dev
		script(async='', src='https://cdn.ampproject.org/v0.js')
		script(async='', custom-element='amp-sidebar', src='https://cdn.ampproject.org/v0/amp-sidebar-0.1.js')
		script(async='', custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js")
		script(async='', custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js")
		script(async='', custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js")

	//- amp scripts for prod
	//- <script async='' src='https://cdn.ampproject.org/v0.js'></script>
	//- <script async='' custom-element='amp-sidebar', src='https://cdn.ampproject.org/v0/amp-sidebar-0.1.js'></script>
	//- <script async='' custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
	//- <script async='' custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
	//- <script async='' custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>

	//- fonts
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald")
	if inline == false
		link(rel='stylesheet', href='css/app.css')
	if inline == true
		style(amp-custom)
			include ../../../app/css/app.css
	//- AMP-BOILERPLATE
	<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
	<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
	
block header
	.d-none
		include ../includes/svg/svg_BingoPage.pug
	
	
	nav.nav
		//- LOGO
		a.logo.ml-3.mt-2(href='/')
			//- +image("img-fluid", "images/logoWDWBingo.png", 110, 44)
			svg.logo(viewbox='0 0 188 80')
				use(xlink:href='#logo', x='0', y='0')
		//-.ampstart-btn
		a.ml-auto.px-2.float-right.startButton(on='tap:sidebar.toggle'): strong
			svg.navbar__button(viewbox='0 0 110 110')
				use(xlink:href='#hamburger', x='0', y='0')
	amp-sidebar#sidebar.floatMenu(layout='nodisplay', side='right')
		a.float-right.mr-3(href="#", on='tap:sidebar.close', role='button', tabindex='0')
			svg.closeMenu(viewbox='0 0 80 80')
				use(xlink:href='#closeMenu', x='0', y='0')
		//-amp-img.amp-img(src='/images/star/rating_on.png', width='20', height='20', alt='close sidebar', on='tap:sidebar.close', role='button', tabindex='0')
		//-.amp-close-image
		ul.listNav.list-unstyled.p-4
			li: a.py-5(href='#') HOME
			li: a.py-5(href='#') NEW BINGO SITES
			li: a.py-5(href='#') NO DEPOSIT BINGO SITES
			li: a.py-5(href='#') £5 DEPOSIT BINGO SITES
			li: a.py-5(href='#')
				| BINGO NETWORKS
				ul.list-unstyled
					li: a(href='#') Brigend Bingo Sites
					li: a(href='#') Cassava Bingo Sites
					li: a(href='#') Cozy Games Bingo Sites
					li: a(href='#') Deal or No Deal Bingo Sites
					li: a(href='#') Dragonfish Bingo Sites
					li: a(href='#') Gamesys Bingo Sites
					li: a(href='#') Microgaming Bingo Sites
					li: a(href='#') Virtue Fusion Bingo Site

			li: a.py-5(href='#')
				| PAYMENT METHOD
				ul.list-unstyled
					li: a(href='#') Paypal Bingo Sites
					li: a(href='#') Paysafecard Bingo Sites (formerly Ukash)
					li: a(href='#') Pay by Phone Bingo Sites


			li: a.py-5(href='#') BINGO REVIEWS
			li: a.py-5(href='#') NEWS
			li: a.py-5(href='#') BLOG
			li: a.py-5(href='#') BEST SLOTS SITES

			li: a.py-5(href='#') ABOUT
			li: a.py-5(href='#') CONTACT
			li: a.py-5(href='#') DISCLAIMER
mixin colLinksFooter(title)
			.col-12.col-md-6.col-lg-3
				h3.mt-4.title= title
				hr.title-underline
				ul.d-flex.flex-column.list-unstyled.footerSiteList
					li
						a.color-w(href='https://www.bestnewbingosites.co.uk/bingo-site/paddy-power-bingo/')
							span.footer-title Paddy Power Bingo
					li
						a.color-w(href='https://www.bestnewbingosites.co.uk/bingo-site/vernons-bingo/')
							span.footer-title Vernons Bingo
					li
						a.color-w(href='https://www.bestnewbingosites.co.uk/bingo-site/rewind-bingo/')
							span.footer-title Rewind Bingo
					li
						a.color-w(href='https://www.bestnewbingosites.co.uk/bingo-site/betfair-bingo/')
							span.footer-title Betfair Bingo
					li
						a.color-w(href='https://www.bestnewbingosites.co.uk/bingo-site/kingdom-of-bingo/')
							span.footer-title Kingdom of Bingo
					li
						a.color-w(href='https://www.bestnewbingosites.co.uk/bingo-site/treasure-bingo/')
							span.footer-title Treasure Bingo
					li
						a.color-w(href='https://www.bestnewbingosites.co.uk/bingo-site/iceland-bingo/')
							span.footer-title Iceland Bingo
					li
						a.color-w(href='https://www.bestnewbingosites.co.uk/bingo-site/gala-bingo/')
							span.footer-title Gala Bingo
block footer
	footer.footerSite.container-fluid.p-0
		.container
			.row.d-flex.flex-wrap
				+colLinksFooter("BEST TOP 5 BINGO SITES")
				+colLinksFooter("LATEST BINGO SITES")
				+colLinksFooter("PLAYER FAVOURITES")
				+colLinksFooter("Links")
		.container.footerSite-row.d-flex.flex-column.justify-content-center.py-4
			.row
				.col.text-center.footerSiteList
					a.ml-0(href='/about-us'): strong HOME
					a.ml-4(href='/about-us'): strong ABOUT
					a.ml-4(href='/about-us'): strong CONTACT
					a.ml-4(href='/contact'): strong DISCLAMER
				.col
					+image("img-fluid", "images/gc-logo.png", 125, 25)
				.col
					+image("img-fluid", "images/begambleaware_logo.png", 125, 25)
				.col-1
					+image("img-fluid", "images/18-icon.png", 43, 40)
			.row
				.col.py-3
					p.text-center.copyright Copyright © 2011- 2018 WDW Bingo